$brand-color: #28425a;
$titlebar-height: 36px;

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

#titlebar {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: $titlebar-height;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}